<h1>
  {{title}}
</h1>

<button class="btn btn-primary mx-2" routerLink="/route-one">Concentric Boxes</button>
<button class="btn btn-primary mx-2" routerLink="/route-two">Products Page</button>
<button class="btn btn-primary mx-2" routerLink="/route-three">Timer with databinding</button>
<button class="btn btn-primary mx-2" routerLink="/route-four">Timer with service</button>
<button class="btn btn-primary mx-2" routerLink="/route-five">Student Table</button>
<button class="btn btn-primary mx-2" routerLink="/route-six">Boxes</button>

<router-outlet></router-outlet>
