<div class="d-flex flex-column justify-content-center align-items-center">
    <input class="form-control" min="1" type="number" [(ngModel)]="timerValue" (change)="inputChanged($event)">
    <div class="d-flex flex-row justify-content-center align-items-center my-3">
        <button class="btn btn-primary mr-2" (click)="startPauseTimer()"
            [disabled]="timerValue==null || timerValue==0">Start/Pause</button>
        <button class="btn btn-primary ml-2" (click)="resetTimer()">Reset</button>

    </div>
</div>
