<app-rectangle>
    <app-rectangle>
        <app-rectangle>
            <app-rectangle>
                <app-rectangle>
                    <app-rectangle>
                        <app-rectangle>
                            <app-rectangle>
                                <marquee>
                                    A floating banner text
                                </marquee>
                            </app-rectangle>
                        </app-rectangle>
                    </app-rectangle>
                </app-rectangle>
            </app-rectangle>
        </app-rectangle>
    </app-rectangle>
</app-rectangle>
