<app-rectangle>
    <app-rectangle>
        <app-rectangle>
            <app-rectangle>
                <app-rectangle>
                    <app-rectangle>
                        <app-rectangle>
                            <app-rectangle>
                                <div class="marquee">
                                    A floating banner text
                                </div>
                            </app-rectangle>
                        </app-rectangle>
                    </app-rectangle>
                </app-rectangle>
            </app-rectangle>
        </app-rectangle>
    </app-rectangle>
</app-rectangle>
