<div class="col-sm-12 card">
    <ul class="card-body list-unstyled">
        <li class="card-text d-flex justify-content-between">
            <span class="col-sm-6">
                Title:
            </span>
            <span class="col-sm-6 card-text_status text-right">
                {{product.title}}
            </span>
        </li>
        <li class="card-text d-flex justify-content-between">
            <span class="col-sm-6">
                Type:
            </span>
            <span class="col-sm-6 card-text_status text-right">
                {{product.type}}
            </span>
        </li>
        <li class="card-text d-flex justify-content-between">
            <span class="col-sm-6">
                Price:
            </span>
            <span class="col-sm-6 card-text_status text-right">
                {{product.price}}
            </span>
        </li>
        <li class="card-text d-flex justify-content-between">
            <span class="col-sm-6">
                Rating:
            </span>
            <span class="col-sm-6 card-text_status text-right">
                {{product.rating}}
            </span>
        </li>
    </ul>
</div>
