.card {
    width: 100%;

    &-grid {
        background: #dddddd;
        padding: 1rem;
    }

    &-img-top {
        width: 100%;
    }

    &-image {
        position: relative;
    }

    &-name {
        position: absolute;
        bottom: 0;
    }

    &-body {
        background: rgba(0, 0, 0, 0.7);
        color: #ccc;
    }

    &-text {
        padding: 0.9375rem 0;
        border-bottom: 1px solid #ccc;

        span {
            text-transform: uppercase;

            &.card-text_status {
                text-transform: unset;
                color: orange;
            }
        }
    }
}
